@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    @apply w-2;
}
::-webkit-scrollbar-track {
    @apply bg-gray-50;
}
::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-md;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300
}
.truncate{
    @apply overflow-hidden text-ellipsis whitespace-nowrap
}
div[drawer-backdrop] {
    @apply bg-transparent
}
.scroll-dir-rtl{
    direction: rtl;
}
.scroll-dir-rtl *{
    direction: ltr;
}
.main-bg-radial{
    background: radial-gradient(#fdfcfc, #e2e7ea, #fff);
}
.main-bg-linear{
    background: linear-gradient(220deg, #fff, #fff, #E2E7EA, #fff, #fff);
}