@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --header-nav-height: 116px;
    --main-banner-height: 0px;
}
body:has(section#main-banner){
    --main-banner-height: 460px;
}

@media screen and (min-width: 480px){
    :root{
        --header-nav-height: 128px;
    }
    body:has(section#main-banner){
        --main-banner-height: 50vw;
    }
}
@media screen and (min-width: 768px) {
    :root{
        --header-nav-height: 179px;
    }
    body:has(section#main-banner){
        --main-banner-height: 460px;
    }
}

.image-reflect{
    -webkit-box-reflect: below -90% radial-gradient(rgba(115,115,115,0.5), transparent)
}
main > .main-container{
    @apply relative z-20
}

picture.object-contain img
{
    object-fit: contain;
}
picture.object-cover img
{
    object-fit: cover;
}




::-webkit-scrollbar {
    @apply w-2;
}
::-webkit-scrollbar-track {
    @apply bg-gray-50;
}
::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-md;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300
}
.truncate{
    @apply overflow-hidden text-ellipsis whitespace-nowrap
}
div[drawer-backdrop] {
    @apply bg-transparent
}
.scroll-dir-rtl{
    direction: rtl;
}
.scroll-dir-rtl *{
    direction: ltr;
}
.main-bg-radial{
    background: radial-gradient(#fdfcfc, #e2e7ea, #fff);
}
.main-bg-linear{
    background: linear-gradient(140deg, #fff, #e2e7ea, #fff) fixed;
}
.footer-bg{
    background: linear-gradient(130deg, #fff, #05d975) fixed;
}

.has-section-divided{
    @apply gap-36 pt-11 *:-my-11;
}
.has-section-divided section:first-child,
.has-section-divided section:nth-child(odd)
{
    @apply bg-gradient-to-b from-white to-transparent rounded-large rounded-b-none;
}

.has-section-divided section:last-child,
.has-section-divided section:nth-child(even)
{
    @apply bg-gradient-to-t from-white to-transparent rounded-large rounded-t-none;
}

.has-section-divided section:first-child:last-child,
.has-section-divided section:nth-child(odd):last-child
{
    @apply bg-gradient-to-b from-white via-transparent to-white rounded-large;
}

*[data-after-simbol]{
    @apply after:content-[attr(data-after-simbol)] after:ml-1
}
.breadcrumb-list ol li:not(:first-child):not(:last-child):not(:nth-last-child(2)) span.breadcrump-text{
    @apply truncate max-w-4;
}
.breadcrumb-list ol li:not(:first-child):not(:last-child):not(:nth-last-child(2)) span.breadcrump-text::before{
    content: '.';
    display: inline;
}

.nested-category-list li ul{
    @apply pl-3
}

.btn-animate-ping{
    animation: btn-ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}	

@keyframes btn-ping {
  75%, 100% {
    transform: scale(1.1);
    opacity: 0;
  }
}